.Home {
  background-color: var(--bg-color);
  height: 100vh;
}

.logo {
  font-family: var(--title-font-family);
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.navbar {
  border-bottom: 1px solid #5c5c5b;
  background-color: #212120;
}

.css-6e3h0h {
  background-color: var(--bg-color) !important;
}
