/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #212120 #2e2f30;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #2e2f30;
}

*::-webkit-scrollbar-thumb {
  background-color: #212120;
  border-radius: 20px;
  border: 3px solid #2e2f30;
}
